*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

footer p {
    margin: 0;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  h1{
    font-size: 30px;
  }
  .mt-0{
    border-radius: 10px;
    color: white;
    background-color: #333;
    padding: 7px;
    border: 1px solid black;
  }
  .navbar-brand{
font-size: 28px;
  }
  .cnt{
    /* display: ; */
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #333;
    padding: 7px;
    border: 1px solid black;
  }
  /* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
  iframe{
    border: 1px solid black;
    border-radius: 10%;
  }
 .stretched-link{
  color: white;
  padding: 10px;
  border-radius: 9px;
font-weight: bold;
  background-color: #333;
  /* font-style: normal; */
 }
 .stretched-link:hover{
  background-color:green;
 }
.cooll{
  /* background-color: #3333335b; */
}
